<style>
h1{
   color: aqua; 
}
h2{
  color: purple;
}
span{
font-weight: bolder;

}

code{
color: blue;
font-weight: bolder;
}
#mayus_y_gris{
text-transform: uppercase;
color: grey;
}

.rojo{
    color: red;
    font-weight: bold;
}
#comentario{
    color: green;
}
</style>