caption {
    padding: 2%;
    background-color: rgb(0, 255, 255);
    border-radius: 10px;
}

td, th{
    border-radius: 5%;
    padding: 2%;
}
.hora{
    background-color: blue;
    color: white;
}
.dias{
    background-color: aqua;
    color: black;
    
}