.container {
    gap: 10px;
    justify-content: end;
    background-color: rgb(197, 79, 197);
    padding: 7px;
    display: flex;
}

.container2 {
    background-color: rgb(48, 141, 196);
    display: flex;
    flex-direction: column-reverse;
    width: 100px;
}

.caja {
    background-color: rgb(255, 166, 2);
    padding: 8px;
    margin: 8px;
    border: 5px solid black;
}
#nav{
    background-color: beige;
}
#nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
#nav ul li{
    background-color: rgb(252, 183, 94);
    padding: 10px 15px;
    border: 5px solid rgb(31, 29, 29);
}
#nav ul li:hover{
    background-color: lightslategray;
}
#nav ul li{
    color: white;
    text-decoration: 16 px;
    font-size: 16 px;
}
</style>
